<footer class="footer-nav row expanded collapse show-for-medium">
    <div class="footer-nav-left">
        <p class="footer-copyright">© 1998–2017 EditOnTime, Inc.</p>
    </div>
    <div class="footer-nav-center">
        <ul class="footer-nav-menu">
            <li class="footer-nav-menu-item">
                <a title="Work at EditOnTime" href="/talent">Careers</a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="/helio/terms" title="Terms of Use">Terms of Use</a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="/privacy">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="footer-nav-right">
        <ul class="footer-nav-menu">
            <li class="footer-nav-menu-item">
                <a href="mailto:getstarted@EditOnTime.com"><img class="footer-social-icon" src="../assets/img/email.svg" alt=""></a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="https://www.facebook.com/EditOnTime/" title="EditOnTime on Facebook"><img class="footer-social-icon" src="../assets/img/facebook.svg" alt="Facebook"></a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="https://twitter.com/EditOnTime" title="EditOnTime on Twitter"><img class="footer-social-icon" src="../assets/img/twitter.svg" alt="Twitter"></a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="https://www.youtube.com/user/EditOnTime" title="EditOnTime on YouTube"><img class="footer-social-icon" src="../assets/img/youtube.svg" alt="YouTube"></a>
            </li>
        </ul>
    </div>
</footer>

<footer class="footer-nav row align-center expanded collapse show-for-small-only">
    <div class="columns small-12">
        <p class="footer-copyright text-center">© 1998–2017 EditOnTime, Inc.</p>
    </div>
    <div class="columns small-12">
        <ul class="footer-nav-menu">
            <li class="footer-nav-menu-item">
                <a title="Work at EditOnTime" href="/talent">Careers</a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="/helio/terms" title="Terms of Use">Terms of Use</a>
            </li>
            <li class="footer-nav-menu-item">
                <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="columns small-12">
        <ul class="footer-nav-menu ">
            <li class="footer-nav-menu-item">
                <a href="mailto:getstarted@EditOnTime.com"><img class="footer-social-icon" src="../assets/img/email.svg" alt=""></a>
            </li>
            <li class="footer-nav-menu-item social">
                <a href="https://www.facebook.com/EditOnTime/" title="EditOnTime on Facebook"><img class="footer-social-icon" src="../assets/img/facebook.svg" alt="Facebook"></a>
            </li>
            <li class="footer-nav-menu-item social">
                <a href="https://twitter.com/EditOnTime" title="EditOnTime on Twitter"><img class="footer-social-icon" src="../assets/img/twitter.svg" alt="Twitter"></a>
            </li>
            <li class="footer-nav-menu-item social">
                <a href="https://www.youtube.com/user/EditOnTime" title="EditOnTime on YouTube"><img class="footer-social-icon" src="../assets/img/youtube.svg" alt="YouTube"></a>
            </li>
        </ul>
    </div>
</footer>