<nav class="grid-container top-nav hide-for-small show-for-large">
    <div class="grid-x align-middle align-justify">
        <div>
            <a href="/index.html"><img class="topbar-brand-logo" src="../assets/img/logo.png" alt="Logo"></a>
        </div>
        <div>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#">Services</a>
                    <ul class="menu">
                        <li><a href="#">Background Removal</a></li>
                        <li><a href="#">Retouching</a></li>
                        <li><a href="#">Invisible Mannequin</a></li>
                        <li><a href="#">Shadow</a></li>
                        <li><a href="#">Reflection</a></li>
                        <li><a href="#">Color Adjustment</a></li>
                        <li><a href="#">Clipping Path</a></li>
                        <li><a href="#">360&#176; Spins</a></li>
                        <!-- ... -->
                    </ul>
                </li>
                <li><a href="#how" data-smooth-scroll data-animation-duration="750" class="topbar-link">How it works</a>
                </li>

                <li><a href="#">Pricing</a>
                    <ul class="menu">
                        <li><a href="#">Basic</a></li>
                        <li><a href="#">Plus</a></li>
                        <li><a href="#">Advanced</a></li>
                        <li><a href="#">API</a></li>
                        <!-- ... -->
                    </ul>
                </li>
                <li><a href="#">Resources</a>
                    <ul class="menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Integration</a></li>
                        
                    </ul>
                </li>
                <li><a href="#how" data-smooth-scroll data-animation-duration="750" class="topbar-link">Blog</a></li>
                <li><a href="#how" data-smooth-scroll data-animation-duration="750" class="topbar-link">Contact</a></li>



                <li><a href="https://app.EditOnTime.com/user/login" target="_blank"
                        class="hollow button topbar-link sign-up-button">Sign In</a></li>
            </ul>
        </div>
    </div>

</nav>

<nav class="grid-container top-nav hide-for-large">
    <div class="grid-x align-middle align-justify">

        <div class="align-center">
            <a href="/index.html"><img class="topbar-brand-logo" src="../assets/img/logo.png" alt="Logo"></a>
        </div>
        <div>
            <button class="menu-icon" type="button" data-open="offCanvas"></button>

        </div>
    </div>
</nav>