<section class="newsletter-subscribe bottom-wave-dark light-type">
    <div class="row medium-7 small-centered column">
        <h2 class="blurb-title">Get Started For Free</h2>
        <p>Sign up for a free tutorials. Learn how to take better product photography.</p>
        <form name="registerForm">
            <div class="input-group">
                <input class="input-group-field" id="email" type="email" name="email" placeholder="Enter your email">
                <div class="input-group-button">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>