 <ul class="mobile-ofc vertical menu">
     <button class="close-button" aria-label="Close menu" type="button" data-close>
         <span aria-hidden="true">&times;</span>
     </button>

     <li>
         <h4>Client Area</h4>
         <ul class="submenu menu vertical" data-submenu="">
             <li class="main-menu"><a class="left-menu" href="https://app.EditOnTime.com/user/login">Login</a></li>
         </ul>
     </li>
     <li>
         <h4>Help</h4>
         <ul class="submenu menu vertical accordion-menu" data-accordion-menu data-submenu="">

             <li class="main-menu"><a class="left-menu" href="http://EditOnTime.com/showcase/brands.html">Services</a>
                 <ul class="menu vertical nested">
                     <li><a href="#">Background Removal</a></li>
                     <li><a href="#">Retouching</a></li>
                     <li><a href="#">Invisible Mannequin</a></li>
                     <li><a href="#">Shadow</a></li>
                     <li><a href="#">Reflection</a></li>
                     <li><a href="#">Color Adjustment</a></li>
                     <li><a href="#">Clipping Path</a></li>
                     <li><a href="#">360&#176; Spins</a></li>
                     <!-- ... -->
                 </ul>
             </li>
             <li class="main-menu"><a class="left-menu" href="../foundation6/macbook-pro">How It Works</a></li>
             <li class="main-menu"><a class="left-menu"
                     href="http://EditOnTime.com/showcase/case-studies.html">Plans</a>
                 <ul class="menu vertical nested">
                     <li><a href="#">Basic</a></li>
                     <li><a href="#">Plus</a></li>
                     <li><a href="#">Advanced</a></li>
                     <li><a href="#">API</a></li>

                 </ul>
             </li>


         </ul>
     </li>
     <li>
         <h4>Resources</h4>
         <ul class="submenu menu vertical accordion-menu" data-submenu="">


             <li class="main-menu"><a class="left-menu" href="../foundation6/macbook-pro">About</a></li>

             <li class="main-menu"><a class="left-menu" href="http://EditOnTime.com/showcase/blog.html">FAQ</a></li>
             <li class="main-menu"><a class="left-menu" href="http://EditOnTime.com/showcase/blog.html">Partners</a>
             </li>
             <li class="main-menu"><a class="left-menu" href="http://EditOnTime.com/showcase/blog.html">Integration</a>
             </li>
             <li class="main-menu"><a class="left-menu" href="http://EditOnTime.com/showcase/blog.html">Blog</a>
             </li>
             <li class="main-menu"><a class="left-menu" href="http://EditOnTime.com/showcase/blog.html">Contact</a>
             </li>


         </ul>
     </li>
     

 </ul>
 <!--<ul class="dropdown menu" data-dropdown-menu>
    <li><a href="#" class="topbar-link">Overview</a></li>
    <li><a href="#">Plans</a>
        <ul class="menu">
            <li><a href="#">Basic</a></li>
            <li><a href="#">Plus</a></li>
            <li><a href="#">Advanced</a></li>
            <li><a href="#">API</a></li>
            
        </ul>
    </li>
    <li><a href="#">Services</a>
        <ul class="menu">
            <li><a href="#">Background Removal</a></li>
            <li><a href="#">Retouching</a></li>
            <li><a href="#">Invisible Mannequin</a></li>
            <li><a href="#">Shadow</a></li>
            <li><a href="#">Reflection</a></li>
            <li><a href="#">Color Adjustment</a></li>
            <li><a href="#">Clipping Path</a></li>
            <li><a href="#">360&#176; Spins</a></li>
            
        </ul>
    </li>
    <li><a href="#" class="topbar-link">Features</a></li>
    <li><a href="#" class="topbar-link">Technology</a></li>
    <li><a href="https://helio.EditOnTime.com/register" class="hollow button topbar-link sign-up-button">Sign In</a></li>
</ul> -->