{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../assets/img/logo/favicon.png">
    <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>{{page-title}}</title>
    <meta name="description" content="{{page-description}}">
    <meta name="keywords" content="{{page-keywords}}">

    <!-- Sirv JS -->
    <script src="https://scripts.sirv.com/sirv.js"></script>
    <!-- Scroll Reveal JS -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <!-- Cookie Js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#122337",
                        "text": "#dbd9d9"
                    },
                    "button": {
                        "background": "#31b0d5",
                        "text": "#ffffff"
                    }
                },
                "theme": "classic",
                "position": "bottom-left",
                "content": {
                    "message": "Cookies help us deliver our services. By using our services, you agree to our use of cookies.",
                    "href": "/policies/privacy-and-cookies.html"
                }
            })
        });
    </script>
</head>

<body>
    
    <!-- Off Canvas Menu -->
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
        {{> off-canvas-menu}}
    </div>

    <div class="off-canvas-content" data-off-canvas-content>

        {{> info-callout}} {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}} {{> newsletter}} {{> footer}}
    </div>

    <!-- Foundation JS -->
    <script src="{{root}}assets/js/app.js"></script>


    <!-- Reveal JS -->
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.marketing-site-content-section-img');
        sr.reveal('.features-tabs-content-img', 200);
        sr.reveal('.tabs', 200);
        sr.reveal('.hunch-video', 200);
        sr.reveal('.people-img', 200);
    </script>



    <!-- typewriter -->
    <script>
        var TxtRotate = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtRotate.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="text-center">' + this.txt + '</span>';

            var that = this;
            var delta = 300 - Math.random() * 100;

            if (this.isDeleting) {
                delta /= 2;
            }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function() {
                that.tick();
            }, delta);
        };

        window.onload = function() {
            var elements = document.getElementsByClassName('txt-rotate');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-rotate');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtRotate(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".txt-rotate > .wrap { border-right: 1px solid #ffffff }";
            document.body.appendChild(css);
        };
    </script>

    <!-- twentytwenty -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="{{root}}assets/js/jquery.event.move.js" type="text/javascript"></script>
    <script src="{{root}}assets/js/jquery.twentytwenty.js" type="text/javascript"></script>
    <script>
        $(function() {
            $("#container1").twentytwenty();
        });
    </script>
    <script>
        $(window).on('load', function() {
            $("#container1").twentytwenty();
        });
    </script>
   

    
<div id="app"></div>

</body>

</html>